
@{
    ViewBag.Title = "Method1";
}

<h2>方法一:&ensp;&#64;Html.RenderPartial()</h2>
    <p style="color:red;">&emsp;&lt;&#64;Html.RenderPartial(&quot;View_name&quot;)&gt;</p>
    <div style="border-style:dotted">
        @{Html.RenderPartial("_PartialView");}
    </div><br />
    <p style="color:red;">&emsp;&lt;&#64;Html.RenderPartial(&quot;View_path&quot;)&gt;</p>
    <div style="border-style:dotted">
        @{Html.RenderPartial("~/Views/Shared/_PartialView.cshtml");}
    </div>
   

