
@{
    ViewBag.Title = "Method4";
}

<h2>方法四:&ensp;&#64;Html.Action()</h2>
    <p style="color:red;">&emsp;&lt;&#64;Html.Action(&quot;PartialViewResult_name&quot;,&quot;Controller_name&quot;)&gt;</p>
    <div style="border-style:dotted">
        &emsp;@Html.Action("M4_Child","Home");
    </div>
